In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [3]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-01-19 10:38:01--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:20ae:b400:b:20a5:b140:21, 2600:9000:20ae:2600:b:20a5:b140:21, 2600:9000:20ae:5400:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:20ae:b400:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12,04K  --.-KB/s    in 0,002s

2025-01-19 10:38:01 (5,60 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [4]:
df = pd.read_csv('taxi_zone_lookup.csv')
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
print(pd.io.sql.get_schema(df.reset_index(), name='zones', con=engine))

CREATE TABLE zones (
	index BIGINT,
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [7]:
%time df.to_sql('zones', con=engine, if_exists='replace')

CPU times: user 9.25 ms, sys: 10.2 ms, total: 19.5 ms
Wall time: 66.3 ms

265