In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [22]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [27]:
# df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
# df.to_csv('yellow_tripdata_2021-01.csv', index=False)

In [23]:
# df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
df = pd.read_csv('yellow_tripdata_2021-01.csv')
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [24]:
print(pd.io.sql.get_schema(df.reset_index(), name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	index BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [28]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [29]:
df_iter

In [30]:
df = next(df_iter)
len(df)

100000

In [31]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [33]:
df.head(0).to_sql('yellow_taxi_data', con=engine, if_exists='replace')

0

In [34]:
%time df.to_sql('yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.25 s, sys: 133 ms, total: 3.38 s
Wall time: 5.63 s

1000

In [36]:
from time import time

In [37]:
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
        df.to_sql('yellow_taxi_data', con=engine, if_exists='append')

        print(f"Inserted {len(df)} rows in {time() - t_start} seconds")
    except StopIteration:
        break

Inserted 100000 rows in 5.7798449993133545 seconds
Inserted 100000 rows in 5.515771150588989 seconds
Inserted 100000 rows in 5.617815971374512 seconds
Inserted 100000 rows in 5.548641204833984 seconds
Inserted 100000 rows in 5.488889932632446 seconds
Inserted 100000 rows in 5.484190940856934 seconds

/var/folders/m2/xmbzd2gs2c1g4p870ts32g7m0000gn/T/ipykernel_72949/526956771.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

Inserted 100000 rows in 5.684646844863892 seconds
Inserted 100000 rows in 5.539475917816162 seconds
Inserted 100000 rows in 5.826098918914795 seconds
Inserted 100000 rows in 5.7342729568481445 seconds
Inserted 100000 rows in 5.760677814483643 seconds

/var/folders/m2/xmbzd2gs2c1g4p870ts32g7m0000gn/T/ipykernel_72949/526956771.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted 100000 rows in 5.567065238952637 seconds
Inserted 69769 rows in 3.7671658992767334 seconds